:root {
  --white: rgba(255, 255, 255, 1);

  --Text-Colors-White-White-Active_pressing: #fff;
  --Text-Colors-White-White-Inactive-Normal: #6e6e6;
  --Text-Colors-Hyperlink-Link-Color: #1677ff;
  --Text-Colors-Primary-Normal_Inactive-Prime-Blue: #2d446e;
  --text-colors-black-50-text-black: #404040;
  --text-colors-black-70-text-black-main-black: #171717;

  --Project-Creation-Status-Not-Started: #b0b0b0;
  --Project-Creation-Status-In-Progress: #4a90e2;
  --Project-Creation-Status-Archived: #607d8b;
  --Project-Creation-Status-Completed: #4caf50;

  --Tasks-Status-In-Review: #3b78a3;
  --Tasks-Status-In-Revision: #3e4b4f;

  --frames-colors-frame-borders-grey-10-grey-border-frames-changed: #f1f1f1;
  --frames-colors-frame-borders-grey-80-grey-hover-frame-border: #999;
  --frames-colors-frame-borders-grey-100-grey-border-frames: #808080;

  --prime-blue: rgba(45, 68, 110, 1);
}
